*{
  margin: border-box;
  padding: 0;
  margin: 0;
}

.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 25%;
  border: none;
  padding: 10px;
  margin-right: 10px;
}

.search-button{
  background: rgb(240, 128, 128);
  border: none;
  padding: 10px 20px;
  color: #fff;
}

.search-button:hover{
  background: #fff;
  color: rgb(240, 128, 128);
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe{
  list-style-type: none;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.recipe h1{
  text-align: center;
  font-size: 1.5em;
}

.recipe ul li {
  list-style-type: none;
}

@media (max-width: 750px){
  .recipe img{
    max-width: 100%;  
    height: auto;  
  }
  
  .recipe h1{
    font-size: 1.1em;
  }
}

.search-form ::placeholder{
  opacity: 0.6;
}
